 

<div class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="assets/profile.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft name-class-custom w3-container w3-text-black typewriter">
            <h2> {{ '{ $Ram Krishna }' }} </h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer | DevOps</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Patna, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ramkrishna70@live.com</p> 
          <p><i class="fa fa-whatsapp fa-fw w3-margin-right w3-large w3-text-teal"></i>+91- 9113366525</p>
          <p><i class="fa fa-skype fa-fw w3-margin-right w3-large w3-text-teal"></i>ramkrishnadj</p>
          <hr>

          <p class="w3-large"><b><i class="fa  fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>Programming Skills</b></p> 
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">90%</div>
          </div>
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:97%">
              <div class="w3-center w3-text-white">97%</div>
            </div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:75%">75%</div>
          </div>
          <p>Angular</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:75%">75%</div>
          </div>
          <p>NodeJs</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">95%</div>
          </div>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>TypeScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:95%">95%</div>
          </div>
          <p>Shell Scripting</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:95%">95%</div>
          </div>
          <br>


          <p class="w3-large"><b><i class="fa  fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>IT skills</b></p> 
          <p>Server Administration</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:75%">75%</div>
          </div>
          <p>Network Administration</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>System Engineering</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:70%">70%</div>
          </div>
          <p>Deployments with Automation</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">90%</div>
          </div>
          <p>GIT | SVN | HOSTING </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:95%">95%</div>
          </div>
          <p>Cordova | Firebase | Cloud Functions </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>DNS | Network Security | Hacks </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">90%</div>
          </div>

          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>Soft Skills</b></p>

          <p>Team Lead | Team Management</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:80%">80%</div>
          </div>
          <p>Communication | Project Management</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>Analysis | Web design</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:85%">85%</div>
          </div>
          <p>Educating Team  | Risk Analysis</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">90%</div>
          </div>

          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>Extra Skills</b></p>

          <p>Computer | Laptop Assemble</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:90%">90%</div>
          </div>
          <p>PACS | DICOM</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:65%">65%</div>
          </div>
          <p>DICOM Image Viewers</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:65%">65%</div>
          </div>
          <p>Remote Support</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal custome-font" style="width:95%">95%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal custome-font" style="height:15px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal custome-font" style="height:15px;width:85%"></div>
          </div>
          <br>
          <div style="padding: 27px 0px;">
          	{{date_time}}
          </div>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird"> 


      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa  fa-university fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Master of Computer Applications</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Completed my MCA in 2017 from <b>Reva Institute of Technology And Management</b>, affiliated with  <b>Visvesvaraya Technological University</b>, Bangalore.<br>
          	<b>Field Of study:</b> Networking, DataStructure, C++, Java, C, Python, Soft Skill, Computer Application, Client / Server Application.<br>
          	<b>Grade :</b> First Class  (67.8 %)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Bachelor of Computer Application</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Completed my graduation in 2014 from <b>Bihar National College</b> affiliated with <b>Patna University, Patna</b><br>
          	<b>Field Of Study:</b> Unix OS, Windows 95, Computer Fundamentals, Shell Scripting, ERP, Economics, Mathematical statistics <br> 
          	<b>Grade :</b> First Class (73.5 %)</p>
          <hr>
        </div>
      </div> 

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>

<!-- <div class="scrolling-wrapper" style="margin-top: 20px;"> 
  <div style="background-color: lightgray;"> -->
<!--     <pdf-viewer src="assets/techgig/Certificate.pdf" 
              [render-text]="true"
              style="width: 200px"></pdf-viewer> -->
<!--     <iframe src="assets/techgig/Certificate.pdf" width="100%" height="400px"></iframe>
  </div>
  <div style="background-color: lightgray;">
    <pdf-viewer src="assets/techgig/Certificate-c.pdf" 
              [render-text]="true"
             style="width: 200px"></pdf-viewer> -->
    <!-- <iframe src="assets/techgig/Certificate.pdf" width="100%" height="400px"></iframe> -->
<!--   </div>
	
</div> -->
  <!-- End Page Container -->
</div>
</div> 
