<div class="w3-container">
  <h5 class="w3-opacity name-class-custom w3-container w3-text-black  typewriter"><b>Master of Computer Applications</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
  <p>Completed my MCA in 2017 from <b>Reva Institute of Technology And Management</b>, affiliated with  <b>Visvesvaraya Technological University</b>, Bangalore.<br>
  	<b>Field Of study:</b> Networking, DataStructure, C++, Java, C, Python, Soft Skill, Computer Application, Client / Server Application.<br>
  	<b>Grade :</b> First Class  (67.8 %)</p>
  <hr>
</div>
<div class="w3-container">
  <h5 class="w3-opacity name-class-custom w3-container w3-text-black typewriter"><b>Bachelor of Computer Application</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
  <p>Completed my graduation in 2014 from <b>Bihar National College</b> affiliated with <b>Patna University, Patna</b><br>
  	<b>Field Of Study:</b> Unix OS, Windows 95, Computer Fundamentals, Shell Scripting, ERP, Economics, Mathematical statistics <br> 
  	<b>Grade :</b> First Class (73.5 %)</p>
  <hr>
</div>
<div class="w3-container">
  <h5 class="w3-opacity name-class-custom w3-container w3-text-black typewriter"><b>Matriculation</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
  <p>Completed in 2009 from <b>Vivekanand Mission School</b> affiliated with <b>CBSE, New Delhi</b><br>
  	<b>Field Of Study:</b> Science, History, Mathematics, Sanskrit and English Literature  <br> 
  	<b>Grade :</b> First Class (79.2 %)</p>
  <hr>
</div>