	<div class="scrolling-wrapper" style="margin-top: 20px;">
		<div class="card">
		<img src="assets/certificates/linuxplus.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-f52ea8/view')" alt="cert">
	</div><div class="card">
		<img src="assets/certificates/advance-p-t-e.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-117bb4/view')" alt="cert">
	</div><div class="card">
		<img src="assets/certificates/cloudplus.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-042cab/view')" alt="cert">
	</div><div class="card">
		<img src="assets/certificates/networkplus.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-8a7bac/view')" alt="cert">
	</div><div class="card">
		<img src="assets/certificates/cross-site-script.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/CC-eb9cbe4e-bedc-4a92-b078-f05a999c51f6/view')" alt="cert">
	</div><div class="card">
		<img src="assets/certificates/mobile-security.png" class="certificate-class" (click)="open_url('https://app.cybrary.it/courses/api/certificate/CC-f761e06c-4242-44b6-a7c8-c04b85796464/view')" alt="cert">
	</div>
	</div>
	
	<h2 class="w3-text-grey"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Other Certificates  <i class="fa fa-hand-o-down fa-fw w3-text-teal"></i></h2>
	<div class="scrolling-wrapper" style="margin-top: 20px;">
	<div class="card">
		<img src="assets/certificates/python-b-t-a.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-NN3QFYJ1/')" alt="cert">
	</div>
	<div class="card">
		<img src="assets/certificates/p-t-e-h.png" class="certificate-class-with-margin" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-a2f5b1/view')" alt="cert">
	</div>
	<div class="card">
		<img src="assets/certificates/ccna.png" class="certificate-class-with-margin" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-8c7f89/view')" alt="cert">
	</div>
	<div class="card">
		<img src="assets/certificates/linux-cert.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-KZ1WEO09')" alt="cert">
	</div>
	<div class="card">
		<img src="assets/certificates/securityplus.png" class="certificate-class-with-margin" (click)="open_url('https://app.cybrary.it/courses/api/certificate/C-5a3cf011f-f861b0/view')" alt="cert"> 
	</div>
	<div class="card" > 
		<img src="assets/certificates/tcp-ip.png" class="certificate-class-with-margin" (click)="open_url('https://app.cybrary.it/courses/api/certificate/SC-5a3cf011f-a4231/view')" alt="cert">  
	</div>
	<div class="card"> 
		<img src="assets/certificates/angular-b-t-a.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-GY4P3GOD/')" alt="cert">  
	</div>
	<div class="card">

		<img src="assets/certificates/f-l-admin.png" class="certificate-class-with-margin" (click)="open_url('https://app.cybrary.it/courses/api/certificate/SC-5a3cf011f-31c7f/view')" alt="cert">
	</div>
	</div>
	<div class="scrolling-wrapper" style="margin-top: 20px;">
	<div class="card"> 
		<img src="assets/certificates/msi-cert.png" class="certificate-class-with-margin" (click)="open_url('https://ramkrishna.bithost.in/assets/techgig/Certificate_msi.pdf')" alt="cert">
	</div>

	<div class="card"> 
		<img src="assets/certificates/python-eth.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-P9YX25M4')" alt="cert">
	</div>

	<div class="card"> 
		<img src="assets/certificates/ionic-firebase.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-5280dd2a-b6bb-472d-aa93-6be5a769e8a3')" alt="cert">
	</div>

	<div class="card"> 
		<img src="assets/certificates/dev-ops-b.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-aa5e596b-bb8a-4f51-bb62-ee6b0416ce20')" alt="cert">
	</div>

	<div class="card"> 
		<img src="assets/certificates/php-master.png" class="certificate-class-with-margin" (click)="open_url('https://www.udemy.com/certificate/UC-G7RZZE3Y')" alt="cert">
	</div>
	<div class="card"> 
		<img src="assets/certificates/php-7-cert.png" class="certificate-class-with-margin" (click)="open_url('https://www.eduonix.com/certificate/a14f01cd46')" alt="cert">
	</div>
	</div>