 
<div class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t31.0-0/p180x540/12961344_1089081737809478_7427858443926683415_o.jpg?_nc_cat=104&_nc_sid=dd9801&_nc_ohc=vvovjCrHNW4AX_sCrSe&_nc_ht=scontent.fpat1-1.fna&_nc_tp=6&oh=46bee52bab73b58e29ca8a0b62de5f7c&oe=5ED258F2" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft name-class-custom w3-container w3-text-black">
            <h2> < Ram Krishna /> </h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Patna, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ramkrishna70@live.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91- 9113366525</p>
          <hr>

          <p class="w3-large"><b><i class="fa  fa-hand-o-right fa-fw w3-margin-right w3-text-teal"></i>Programming Skills</b></p> 
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">
              <div class="w3-center w3-text-white">95%</div>
            </div>
          </div>
          <p>Angular</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>NodeJs</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <p>TypeScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Shell Scripting</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">95%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:85%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lead Consultant / Invincix Solutions Private Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Gathering high level information of requirement and pass to the team. Making communication with the client and working close with the team to achieve the goal. Finding the best fit resource in team. My work expands when I look into the Server administration, Network Administration and in Cloud. Ensuring the security of the platforms, where my team works and collaborate.
          It also includes reviewing the quality of work, and TDD tests.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Consultant / Invincix Solutions Private Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2019 - Mar 2020</h6>
          <p>I was working on the mobile application development and also for web application development. This whole 1 year was challenging for me, encountering different types of obstacles and blockage. I felt some hard time during this, and it passed. I just kept doing my work with dedication. 
          During this time I learned about AWS, Mobile security, and network security. Also improved the client communication.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Associate consultant / Invincix Solutons Private Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2017 - Mar 2019</h6>
          <p>I was working in a team, and I was writing the logics for the mobile application. It was time, when i was doing code, testing it, and pushing to staging. This time given me opportunity to learn more and consume more, and also to enhance the skill.</p><br>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Engineer / Twinpod Inc</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2016 - Jul 2017</h6>
          <p>Wirking on application support, based on PACS. Also looking in generated issue tickets by the client, and fixing those issues in given SLA. Looking in the hosting of the applications.</p> 
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa  fa-university fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Master of Computer Applications</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Completed my MCA in 2017 from <b>Reva Institute of Technology And Management</b>, affiliated with  <b>Visvesvaraya Technological University</b>, Bangalore.<br>
          	<b>Field Of study:</b> Networking, DataStructure, C++, Java, C, Python, Soft Skill, Computer Application, Client / Server Application.<br>
          	<b>Grade :</b> First Class  (67.8 %)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Bachelor of Computer Application</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Completed my graduation in 2014 from Bihar National College affiliated with Patna University, Patna<br>
          	<b>Field Of Study:</b> Unix OS, Windows 95, Computer Fundamentals, Shell Scripting, ERP, Economics, Mathematical statistics <br> 
          	<b>Grade :</b> First Class (73.5 %)</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</div> 
