.name-class-custom{ 
	width: 100%;
    background-color: #aad862;
    /* height: 30px; */
    position: relative;
    color: #6f6f6f !important;
}
b{
	font-weight: 700;
	font-family: serif;
}

.row {
	width: 100%;
	position: relative;
	display: block;
}
.col-md-6{
	width: 300px;
    height: 300px;
    position: relative;
    inline-size: fit-content;
    display: inline-flex;
    padding: 15px 30px;
}

.custome-font {
	font-size: 10px !important;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-flex;
  }
}

.certificate-class {
	height: 290px;
    width: 375px;
    padding-bottom: 20px;
}

.certificate-class-with-margin {
	height: 325px;
    width: 415px;
	margin-left: 20px;
}