.name-class-custom{ 
	width: 100%;
    background-color: #aad862;
    /* height: 30px; */
    position: relative;
    color: #6f6f6f !important;
}
b{
	font-weight: 700;
	font-family: serif;
}

.row {
	width: 100%;
	position: relative;
	display: block;
}
.col-md-6{
	width: 300px;
    height: 300px;
    position: relative;
    inline-size: fit-content;
    display: inline-block;
    padding: 15px 30px;
}